---
permalink: /
title: "Michael W. Delaney: Web Developer, Web Enthusiast"
---
<header>
<h1>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
    <title>code</title>
    <g stroke-width="1" fill="currentColor" stroke="currentColor" class="nc-icon-wrapper">
      <linearGradient id="MyGradient">
        <stop offset="10%" stop-color="#7950f2" />
        <stop offset="90%" stop-color="#f783ac" />
      </linearGradient>
      <line class="h" x1="10.5" y1="1.5" x2="5.5" y2="14.5" fill="none" stroke-linecap="round" stroke-linejoin="round" data-cap="butt" data-color="color-2"></line>
      <polyline points="3.5 4.5 0.5 7.5 3.5 10.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" data-cap="butt"></polyline>
      <polyline points="12.5 4.5 15.5 7.5 12.5 10.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" data-cap="butt"></polyline>
    </g>
  </svg>
  <span class="name"><span class="h">M</span>ichael <span class="h">W.</span> <span class="h">Delaney</span></span>
</h1>
<p>I'm a web developer.</p>
<p>Find me on <a href="http://github.com/mwdelaney">GitHub</a>, or on <a rel="me" href="https://bsky.app/profile/mwdelaney.me">Bluesky</a>!</p>
</header>
    <hr>
    <article>
      <h2>Projects I Made for Serious</h2>
      <ul>
        <li class="zeropoint">
          <a href="https://getzeropoint.com">ZeroPoint</a>
          <p>Eleventy-based Jamstack Website Starter</p>
        </li>

        <li class="trellis-github-deployment">
          <a href="https://github.com/MWDelaney/trellis-github-deployment">Trellis GitHub Deployment</a>
          <p>Automatic deployment for your <a href="https://roots.io/trellis/">Trellis</a>-based WordPress project using GitHub Actions and Workflows.</p>
        </li>
      </ul>
    </article>

    <article>
      <h2>Projects To Which I Contribute</h2>
      <ul>
        <li class="contribution">
          <a href="https://roots.io">Roots Trellis, Bedrock, and Sage</a>
          <p>Tools for modern WordPress development</p>
        </li>
      </ul>
    </article>

    <article>
      <h2>Projects I Made for Fun</h2>
      <ul>
        <li class="spongecase">
          <a href="https://github.com/MWDelaney/sponge-case">sponge-case</a>
        </li>
        <li class="decorative-gourd-season">
          <a href="https://decorativegourdseason.com">decorativegourdseason.com</a>
        </li>

        <li class="secure-mf-website">
          <a href="https://securemotherfuckingwebsite.com">securemotherfuckingwebsite.com</a>
        </li>

        <li class="buffins">
          <a href="https://buffins.cat">buffins.cat</a>
        </li>

        <li class="surprisebeer">
          <a href="https://surprise.beer">surprise.beer</a>
        </li>
      </ul>
    </article>
