/**
 * Import stylesheet partials
*/
@use "reset";
@use "branding";

body {
  font-family: var(--font);
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  color: var(--link-color);
}

main,
footer {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 3rem;
}

header {
  margin-top: 2rem;
  margin-left: -calc(var(--logo) + var(--gap));
}

hr {
  border: 0;
  height: 5px;
  background-image: linear-gradient(45deg, #7950f2 10%, #f783ac 90%);
  border-radius: 1rem;
  transform: rotate(-1.5deg);
}

header svg {
  width: var(--logo);
}

header p {
  margin-top: 0;
  margin-left: calc(var(--logo) + var(--gap));
}

h1 {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  align-items: center;
  justify-content: start;
  margin-bottom: 0;
}

.h {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, #7950f2 10%, #f783ac 90%);
  stroke: url(#MyGradient);
}

ul {
  color: var(--color-text);
}

li {
  margin-bottom: 0.8rem;
}

li p {
  margin-top: 0.2rem;
  opacity: 70%;
  font-size: 80%;
}

.zeropoint {
  list-style-image: var(--list-style-image-zeropoint);
}

.trellis-github-deployment {
  list-style-image: var(--list-style-image-trellis-github-deployment);
}

.contribution {
  list-style-image: var(--list-style-image-contribution);
}

.decorative-gourd-season {
  list-style-image: var(--list-style-image-decorative-gourd-season);
}

.secure-mf-website {
  list-style-image: var(--list-style-image-secure-mf-website);
}

.buffins {
  list-style-image: var(--list-style-image-buffins);
}

.surprisebeer {
  list-style-image: var(--list-style-image-surprisebeer);
}

.spongecase {
  list-style-image: var(--list-style-image-spongecase);
}
